@use "../../scss" as *;

.SkillsSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  text-align: center;
  #skillsSectionTitle {
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0 0 0;
  }
  .SkillsItemContainer {
    padding: 15px;
    border: 1px solid $border-color-light-gray;
    border-radius: 30px;
    margin: 10px;
    padding: 15px 25px;
    .SkillsItemText {
      font-size: 12px;
    }
  }
}
