.ProjectSectionContainer {
  text-align: center;
  width: 100%;
  #projectSectionTitle {
    font-size: 14px;
    font-weight: bold;
  }
  #sectionDetailText {
    color: #cecece;
    font-size: 12px;
    margin: 10px 0;
  }
}
