//Font colors

$font-color-black: #000000;
$font-color-gray: #a6a6a6;
$font-color-light-gray: #cecece;
$font-color-blue: #003f92;

// Background colors

$background-color-gradient: #eeeeee, #ffffff;
$background-color-white: #ffffff;
$background-color-transparent: rgba(255, 255, 255, 0);

// Border colors
$border-color-light-gray: #f0f0f0;
