//Font colors

$font-color-black: #000000;
$font-color-gray: #a6a6a6;
$font-color-light-gray: #cecece;
$font-color-blue: #003f92;

// Background colors

$background-color-gradient: #e1e1e1, #ffffff, #e1e1e1;
$background-color-white: #ffffff;
$background-color-transparent: rgba(255, 255, 255, 0);

// Border colors
$border-color-light-gray: #e0e0e06c;
